<ion-header>
  <ion-toolbar>
    <ion-title>Groceries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true" [options]="slideOpts" *ngIf="_groceries.length > 0; else elseBlock">
    <ion-slide *ngFor="let grocery of _groceries">
    
      <div class="slide">
          <a routerLink="/show/{{grocery.id}}">
            <h1>{{grocery.title}}</h1>
            <p><ion-img [src]="grocery.picture" alt="No image"></ion-img></p>
          </a> 
          <ion-checkbox slot="end" (click)="toggleItemSelection(grocery.id)" checked="{{grocery.isMarked}}"></ion-checkbox>
      </div>   
       
    </ion-slide>    
  </ion-slides>
  <ng-template fullscreen class="ion-padding"  #elseBlock>
  <div>There's no Item yet. <a routerLink="/add">Click here</a> to add an Item</div>
</ng-template>
   
</ion-content>

